.task {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  border-bottom: 1px solid var(--white2);
  padding: 1em;
}

.task div {
  text-align: left;
  text-transform: capitalize;
}

.task div > h3 {
  font-size: 1.2em;
  margin-bottom: .7em;
}

.task nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task nav > i {
  margin: .5em;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--black1);
  color: var(--white);
  padding: .4em;
  transition: .5s;
}

.task nav > i:hover {
  color: var(--blue1)
}